/*
CSS for Quarto (revealjs) slides 

Modified by Rafael Bressan for UDESC/Esag
2023-06-10
*/

/*-- scss:defaults --*/

// $body-bg: #b7b09c;
// $body-color: #054B28;
$link-color: #139954;
$presentation-heading-color: #054B28;
$code-color: #139954;
// $code-block-bg: #ded9ca;
// $code-block-border-color: #000000;

/*-- scss:rules --*/

.greenbackground {
  background-color: #054B28 !important;
}

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
  text-align: left !important;
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

/* .sectionhead {
  font-size: 1em;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid;
} */

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}

/* Make bold syntax compile to udescgreen */
strong {
  color: #054B28;
}

.red {
  color: #d90502 !important;
}

.center {
  text-align: center !important;
}